$color-header: #123CBD;
$color-complementario: #FEA990;
$color-footer: #000;
$color-footer-degradado: #222;

$texto-descripcion-paginas: #000;

//map

$colores-pag: (
    color-header: #123CBD,
    color-complementario: #FEA990,
    color-footer: #000,
    color-footer-degradado: #222,
);

$colores-redes: (
    twitter: #55ACEE,
    facebook: #3A5795,
    whatsapp: #25D366,
    instagram: #E1306C,
    mail: #444, 
    behance: #0066F7);